
<!-- Copyright (c) 2020, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->
<table style="width: 100%">
    <tr>
        <td>
            <div class="opfab-input" style="margin-right:5px">
                <label>CONFERENCE SUBJECT</label>
                <input id="conf_subject" name="conf_subject" value="{{card.data.conf_subject}}">
            </div>
        </td>
        <td>
            <div class="opfab-input" style="margin-left:5px">
                <label>LINK FOR CONFERENCE</label>
                <input id="conf_link" name="conf_link" placeholder="http://...." value="{{card.data.conf_link}}">
            </div>
        </td>
    </tr>
    <tr style="height: 20px;">

    </tr>
    <tr>
        <td>
            <div class="opfab-input" style="margin-right:5px">
                <label>REPORT NAME </label>
                <input id="report_title" name="report_title" value="{{card.data.report_title}}">
            </div>
        </td>
        <td>
            <div class="opfab-input" style="margin-left:5px">
                <label> LINK TO THE REPORT </label>
                <input id="report_link" name="report_link" placeholder="http://...." value="{{card.data.report_link}}">
            </div>
        </td>
    </tr>
</table>
<br/>
        
        <div class="opfab-textarea">
            <label>  COMPLEMENTARY INFORMATION  </label>
            <textarea  id="message" name="message"> {{card.data.message}}</textarea>
        </div>


<script>
    templateGateway.getSpecificCardInformation = function () {
        const message = document.getElementById('message').value;
        const conf_subject = document.getElementById('conf_subject').value;
        const conf_link = document.getElementById('conf_link').value;
        const report_title = document.getElementById('report_title').value;
        const report_link = document.getElementById('report_link').value;
        const card = {
        summary : {key : "conference.summary"},
		title : {key : "conference.title"},
        secondsBeforeTimeSpanForReminder: 300,
        data : {
                message: message,
                conf_subject:conf_subject,
                conf_link:conf_link,
                report_title:report_title,
                report_link:report_link
                 }
        };
        return {
            valid: true,
            card: card,
            viewCardInAgenda: true
        };

    }
</script>