
<!-- Copyright (c) 2022-2023, RTE (http://www.rte-france.com)                   -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->


<h2> You have the following task to do  :  </h2>
<br/>
<br/>
<center>
<h3 >

{{keepSpacesAndEndOfLine card.data.taskDescription }}


<br/>
Duration: {{card.data.durationInMinutes}} minutes<br/>
<br/> 

<span id="byHourByMinute"></span>
<span id="interval"></span>
<span id="bysetpos"></span><span id="byweekday"></span><br/>
<br/>
<span id="bymonthday"></span>
<span id="bymonth"></span>

</h3>
</center>

<script>

      cardTemplate = {
            init: function() {

                  const freq = "{{card.data.freq}}";
                  const byweekday = "{{card.data.byweekday}}";
                  const bysetpos = "{{card.data.bysetpos}}";
                  const ordinalNumbersArray = ["1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th", "10th",
                                               "11th", "12th", "13th", "14th", "15th", "16th", "17th", "18th", "19th", "20th",
                                               "21st", "22nd", "23rd", "24th", "25th", "26th", "27th", "28th", "29th", "30th",
                                               "31st"];

                  if (freq === "MINUTELY") {
                      document.getElementById("interval").innerHTML = "Every {{card.data.interval}} minutes";
                  } else {
                      document.getElementById("byHourByMinute").innerHTML =
                          "At {{padStart card.data.byhour 2 '0'}}:{{padStart card.data.byminute 2 '0'}}";
                      if (freq === "MONTHLY" && bysetpos !== [] && byweekday !== []) {
                          let textForBysetpos = "";
                          if (bysetpos.includes("1"))  textForBysetpos += " first,";
                          if (bysetpos.includes("2"))  textForBysetpos += " second,";
                          if (bysetpos.includes("3"))  textForBysetpos += " third,";
                          if (bysetpos.includes("4"))  textForBysetpos += " fourth,";
                          if (bysetpos.includes("-1")) textForBysetpos += " last,";

                          if (textForBysetpos != "") {
                              textForBysetpos = textForBysetpos.slice(0, -1); //we delete the last comma
                              textForBysetpos = "The" + textForBysetpos + " ";
                              document.getElementById("bysetpos").innerHTML = textForBysetpos;
                          }
                      }

                      let textForByweekday = "";
                      if (byweekday.includes("MO"))  textForByweekday += " Monday";
                      if (byweekday.includes("TU"))  textForByweekday += " Tuesday";
                      if (byweekday.includes("WE"))  textForByweekday += " Wednesday";
                      if (byweekday.includes("TH"))  textForByweekday += " Thursday";
                      if (byweekday.includes("FR"))  textForByweekday += " Friday";
                      if (byweekday.includes("SA"))  textForByweekday += " Saturday";
                      if (byweekday.includes("SU"))  textForByweekday += " Sunday";
                      if ((freq === "DAILY") && (textForByweekday !== ""))   textForByweekday = "on" + textForByweekday;
                      document.getElementById("byweekday").innerHTML = textForByweekday;

                      const bymonthday = "{{card.data.bymonthday}}";
                      let textForBymonthday = "";

                      if (!!bymonthday) {
                          const bymonthdayArray = bymonthday.split(',');

                          if (bymonthdayArray.includes("1"))  textForBymonthday += "The first day of the month, ";
                          if (bymonthdayArray.includes("-1")) textForBymonthday += "The last day of the month, ";
                          if (bymonthdayArray.length > 0) {
                              if ((bymonthdayArray[0] !== "1") && (bymonthdayArray[0] !== "-1")) {
                                  textForBymonthday += "The " + ordinalNumbersArray[bymonthdayArray[0] - 1] + " day of the month, ";
                              }
                          }
                      }
                      if (textForBymonthday !== "") {
                          textForBymonthday = textForBymonthday.slice(0, -2);
                          textForBymonthday += "<br/><br/>";
                      }
                      document.getElementById("bymonthday").innerHTML = textForBymonthday;

                      const bymonth = "{{card.data.bymonth}}";
                      let textForBymonth = "";

                      if (!!bymonth) {
                          const bymonthArray = bymonth.split(',');

                          if (bymonthArray.includes("1"))  textForBymonth += " January";
                          if (bymonthArray.includes("2"))  textForBymonth += " February";
                          if (bymonthArray.includes("3"))  textForBymonth += " March";
                          if (bymonthArray.includes("4"))  textForBymonth += " April ";
                          if (bymonthArray.includes("5"))  textForBymonth += " May";
                          if (bymonthArray.includes("6"))  textForBymonth += " June";
                          if (bymonthArray.includes("7"))  textForBymonth += " July";
                          if (bymonthArray.includes("8"))  textForBymonth += " August";
                          if (bymonthArray.includes("9"))  textForBymonth += " September";
                          if (bymonthArray.includes("10")) textForBymonth += " October";
                          if (bymonthArray.includes("11")) textForBymonth += " November";
                          if (bymonthArray.includes("12")) textForBymonth += " December";
                      }
                      if (textForBymonth !== "") {
                          textForBymonth = "in" + textForBymonth;
                      }
                      document.getElementById("bymonth").innerHTML = textForBymonth;
                  }
            }
      }
      cardTemplate.init();

</script>