
<!-- Copyright (c) 2020-2021, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->


<h2> You avez la tâche suivante à réaliser :  </h2>
<br/>
<br/>
<center>
<h3 >

{{keepSpacesAndEndOfLine card.data.taskDescription }}


<br/>
Durée: {{card.data.durationInMinutes}} minutes
<br/> 

A {{card.data.hours}}:{{card.data.minutes}} le 
<span id="dayOfWeeks">


</span>

</h3>
</center>

<script>
daysOfWeek = "{{card.data.daysOfWeek}}";

var text ="";
if (daysOfWeek.includes("1"))  text += " lundi";
if (daysOfWeek.includes("2"))  text += " mardi";
if (daysOfWeek.includes("3"))  text += " mercedi";
if (daysOfWeek.includes("4"))  text += " jeudi ";
if (daysOfWeek.includes("5"))  text += " vendredi";
if (daysOfWeek.includes("6"))  text += " samedi";
if (daysOfWeek.includes("7"))  text += " dimanche";

document.getElementById("dayOfWeeks").innerHTML = text;

</script>