<h4>Free Message Notification</h4>
<p>A free message was sent with the following information:</p>

<div>
<ul>
    <li>uid: {{card.uid}}</li>
    <li>id: {{card.id}}</li>
    <li>publishDate: {{card.publishDate}}</li>
    <li>publisher: {{card.publisher}}</li>
    <li>processVersion: {{card.processVersion}}</li>
</ul>
</div>

<div>
    Comment:
    <p>{{card.data.comment}}</p>
</div>





