<h2> You received the following message </h2>

Uid: {{card.uid}}<br/>
Id: {{card.id}}<br/>
Publisher: {{card.publisher}}<br/>
PublisherVersion: {{card.publisherVersion}}<br/>
Process: {{card.process}}<br/>
ProcessId: {{card.processId}}<br/>
State: {{card.state}}<br/>
PublishDate: {{card.publishDate}}<br/>
DeletionDate: {{card.deletionDate}}<br/>
lttd: {{card.lttd}}<br/>
StartDate: {{card.startDate}}<br/>
EndDate: {{card.endDate}}<br/>
Severity: {{card.severity}}<br/>
Tags: {{card.tags}}<br/>
Actions: {{card.actions}}<br/>
Details: {{card.details}}<br/>
Title: {{card.title}}<br/>
Summary: {{card.summary}}<br/>
Recipient: {{card.recipient}}<br/>
Message:
{{#each card.data.message}}
{{this}}<br/>
{{/each}}

