<!-- Copyright (c) 2020, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->


<br/>
<br/>
<div class="opfab-textarea">
    <label> INCIDENT DESCRIPTION </label>
    <textarea id="message" name="message" placeholder="Write something.."
        style="width:100%"> {{card.data.message}} </textarea>
</div>

<br />

IMPACTED SERVICES : <br/><br/>
<div>
    <table width="100%">
        <tr>
            <td> <label class="opfab-checkbox"> SERVICE A <input type="checkbox" id="SA">   <span class="opfab-checkmark"> </span>   </label>   </td>
            <td> <label class="opfab-checkbox"> SERVICE B <input type="checkbox" id="SB">   <span class="opfab-checkmark"> </span>   </label>   </td>
            <td> <label class="opfab-checkbox"> SERVICE C <input type="checkbox" id="SC">   <span class="opfab-checkmark"> </span>   </label>   </td>
            <td> <label class="opfab-checkbox"> SERVICE D <input type="checkbox" id="SD">   <span class="opfab-checkmark"> </span>   </label>   </td>
            <td> <label class="opfab-checkbox"> SERVICE E <input type="checkbox" id="SE">   <span class="opfab-checkmark"> </span>   </label>   </td>
            <td> <label class="opfab-checkbox"> SERVICE F <input type="checkbox" id="SF">   <span class="opfab-checkmark"> </span>   </label>   </td>
        </tr>
    </table>
</div>
<br/>
<div class="opfab-input">
    <label> OTHER IMPACTS </label>
    <input id="OTHERS" name="OTHERS" 
        style="width:100%" value="{{card.data.impacts.OTHERS}}">
</div>
<br/>
<script>

    document.getElementById("SA").checked = "{{card.data.impacts.SA}}";
    document.getElementById("SB").checked = "{{card.data.impacts.SB}}";
    document.getElementById("SC").checked = "{{card.data.impacts.SC}}";
    document.getElementById("SD").checked = "{{card.data.impacts.SD}}";
    document.getElementById("SE").checked = "{{card.data.impacts.SE}}";
    document.getElementById("SF").checked = "{{card.data.impacts.SF}}";


    templateGateway.getSpecificCardInformation = function () {
        const message = document.getElementById('message').value;
        const SA = document.getElementById('SA').checked;
        const SB = document.getElementById('SB').checked;
        const SC = document.getElementById('SC').checked;
        const SD = document.getElementById('SD').checked;
        const SE = document.getElementById('SE').checked;
        const SF = document.getElementById('SF').checked;
        const OTHERS = document.getElementById('OTHERS').value;

        const card = {
            summary: { key: "incidentInProgress.summary" },
            title: { key: "incidentInProgress.title" },
            keepChildCards: true,
            data: {
                message: message,
                impacts :
                     {
                         SA : SA,
                         SB : SB,
                         SC: SC,
                         SD: SD,
                         SE: SE,
                         SF: SF,
                         OTHERS: OTHERS
                    }
            }
        };
        return {
            valid: true,
            card: card,
            viewCardInAgenda: false
        };

    }
</script>