<div class="summary">
    <span>{{i18n data.summary}}</span>
    {{#if data.userCause}}<span>{{i18n data.userCause}}</span>{{/if}}
    {{#if data.userComent}}<span>> ##### {{i18n data.userComent}}</span>{{/if}}
</div>
<div class="tabs">
    <input name="mainTabs" type="radio" id="tab-main-1" checked="checked" class="tab-input"/>
    <label for="tab-main-1" class="tab-label">Détails</label>
    <div class="tab-panel">
        <h2>OC de l'ouvrage</h2>
        <ul>
            {{#each data.breakerStatuses.assets}}
                <li> {{@key}}
                    <ul>
                        {{#eachSorted this}}
                            <li><div class="breaker-status"><div>{{@key}}</div><div>{{i18n 'card.periodicOperation.tab.main.breakerStatus' this}}</div></div></li>
                        {{/eachSorted}}
                    </ul>
                </li>
            {{/each}}
        </ul>
        <h2>Opérations</h2>
        <div class="accs" >
            <input name="acc-details-operation" type="checkbox" id="acc-details-operation" class="acc-input"/>
            <label for="acc-details-operation" class="acc-label">Liste des opérations</label>
            <div class="acc-panel">
                {{i18n data.operationStatus}}<br>
                {{card.data.computationNetworkName}}
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Départ</th>
                            <th>OC</th>
                            <th>Ordre</th>
                            <th>Délai depuis la précédente</th>
                        </tr>
                        </thead>
                        {{#each data.operationSequence}}
                            <tr>
                                <td>{{this.bayIdr}}</td>
                                <td>{{this.breakerName}}</td>
                                <td>{{i18n "card.operation.action" this.handlingNature}}</td>
                                <td>{{this.beforeOperationDelay}}s</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
        <h2>Images poste</h2>
        <div style="display: flex;flex-wrap: wrap;justify-content: space-between;">
            <div class="accs" style="width:50%; padding-left: 10px">
                {{#each data.substations}}
                    {{#with this}}
                        <input name="acc-details-sub-{{substation}}-before" checked type="checkbox"  id="acc-details-sub-{{substation}}-before" class="acc-input"/>
                        <label for="acc-details-sub-{{substation}}-before" class="acc-label">{{i18n "card.periodicOperation.tab.main.images.state.INITIAL" substation=substation}}</label>
                        <div class="acc-panel" style="text-align:center">
                            {{#svg baseUri scheduledOpId "/" substation "/before/" computationPhaseOrdinal}}{{/svg}}
                        </div>
                    {{/with}}
                {{/each}}
            </div>
            <div class="accs" style="width:50%; padding-left: 10px">
                {{#each data.substations}}
                    {{#with this}}
                        <input name="acc-details-sub-{{substation}}-during" checked type="checkbox"  id="acc-details-sub-{{substation}}-during" class="acc-input"/>
                        <label for="acc-details-sub-{{substation}}-during" class="acc-label">{{i18n "card.periodicOperation.tab.main.images.state.DURING_OPERATION" substation=substation}}</label>
                        <div class="acc-panel" style="text-align:center">
                            {{#svg baseUri scheduledOpId "/" substation "/during/" computationPhaseOrdinal}}{{/svg}}
                        </div>
                    {{/with}}
                {{/each}}
            </div>
        </div>
    </div>
    {{#if data.contacts}}
    <input name="mainTabs" type="radio" id="tab-main-2" class="tab-input"/>
    <label for="tab-main-2" class="tab-label">Contacts</label>
    <div class="tab-panel">
        <h2>Contacts à notifier</h2>
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>Départ</th>
                    <th>Ordre d'appel</th>
                    <th>Contact</th>
                    <th>Numéro de téléphone</th>
                </tr>
                </thead>
                {{#each data.contacts}}
                    <tr>
                        <td>{{this.bayId}}</td>
                        <td>{{this.callOrder}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.phoneNumber}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
        {{#if data.notificationPrerequisite}}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Action attendue</th>
                        <th>État</th>
                    </tr>
                    </thead>
                    {{#with data.notificationPrerequisite}}
                        <tr>
                            <td>{{i18n requestedActionMessage}}</td>
                            <td>
                                {{#ifEquals active false}}
                                    Plus d'actualité
                                {{else}}
                                    {{#ifEquals state "VALID"}}
                                        Action effectuée ({{dateFormat validationDate format="HH:mm:ss"}})
                                    {{else}}
                                        {{#ifEquals areActionsStillPossible true}}
                                            {{{action "PREREQUISITE_" id}}}
                                        {{else}}
                                            Action non effectuée
                                        {{/ifEquals}}
                                    {{/ifEquals}}
                                {{/ifEquals}}
                            </td>
                        </tr>
                    {{/with}}
                </table>
            </div>
        {{/if}}
    </div>
    {{/if}}
    {{#if data.interruptions}}
    <input name="mainTabs" type="radio" id="tab-main-3" class="tab-input"/>
    <label for="tab-main-3" class="tab-label">Coupures détectées</label>
    <div class="tab-panel">
        {{#if data.interruptions.detectedAtPlanification}}
        <h2>Coupures detectées à la planification</h2>
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th></th>
                    <th>Début</th>
                    <th>Type</th>
                    <th>Nom</th>
                </tr>
                </thead>
                {{#each data.interruptions.detectedAtPlanification}}
                        <tr>
                            <th class="{{#ifEquals this.effectiveAtRefTime true}}danger{{/ifEquals}}">{{#ifEquals this.effectiveAtRefTime true}}✔{{/ifEquals}}</th>
                            <td></td>
                            <td>{{i18n "card.interruption.type" this.type}}</td>
                            <td>{{this.assetName}}</td>
                        </tr>
                {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if data.interruptions.detectedAtExecution}}
        <h2>Nouvelles coupures détectées à l'exécution</h2>
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th></th>
                    <th>Début</th>
                    <th>Type</th>
                    <th>Nom</th>
                </tr>
                </thead>
                {{#each data.interruptions.detectedAtExecution}}
                    <tr>
                        <th class="{{#ifEquals this.effectiveAtRefTime true}}danger{{/ifEquals}}">{{#ifEquals this.effectiveAtRefTime true}}✔{{/ifEquals}}</th>
                        <td>{{this.startTime}}</td>
                        <td>{{i18n "card.interruption.type" this.type}}</td>
                        <td>{{this.assetName}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if data.interruptionPrerequisite}}
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Action attendue</th>
                        <th>État</th>
                    </tr>
                    </thead>
                    {{#with data.interruptionPrerequisite}}
                        <tr>
                            <td>{{i18n requestedActionMessage}}</td>
                            <td>
                            {{#ifEquals active false}}
                                Plus d'actualité
                            {{else}}
                                {{#ifEquals state "VALID"}}
                                    Action effectuée ({{dateFormat validationDate format="HH:mm:ss"}})
                                {{else}}
                                    {{#ifEquals areActionsStillPossible true}}
                                        {{{action "PREREQUISITE_" id}}}
                                    {{else}}
                                        Action non effectuée
                                    {{/ifEquals}}
                                {{/ifEquals}}
                            {{/ifEquals}}
                            </td>
                        </tr>
                    {{/with}}
                </table>
            </div>
        {{/if}}
    </div>
    {{/if}}
    {{#if data.telesignals}}
        <input name="mainTabs" type="radio" id="tab-main-4" class="tab-input"/>
        <label for="tab-main-4" class="tab-label">Télésignalisations</label>
        <div class="tab-panel">
            <h2>Télésignalisations</h2>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Origine</th>
                        <th>Libellé</th>
                        <th>État</th>
                        <th>Forçable</th>
                        <th>Heure</th>
                    </tr>
                    </thead>
                    {{#each data.telesignals}}
                        {{#with this}}
                        <tr>
                            <td>{{origin}}</td>
                            <td>{{preserveSpace label}}</td>
                            <td>
                                {{#ifEquals forceable true}}Oui{{else}}Non{{/ifEquals}}
                            </td>
                            <td>
                                {{#if state}}{{i18n state}}{{/if}}
                            </td>
                            <td>{{#if time}}{{time}}{{/if}}</td>
                        </tr>
                        {{/with}}
                    {{/each}}
                </table>
            </div>
            {{#if data.telesignalPrerequisite}}
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Action attendue</th>
                            <th>État</th>
                        </tr>
                        </thead>
                        {{#with data.telesignalPrerequisite}}
                            <tr>
                                <td>{{i18n requestedActionMessage}}</td>
                                <td>
                                    {{#ifEquals active false}}
                                        Plus d'actualité
                                    {{else}}
                                        {{#ifEquals state "VALID"}}
                                            Action effectuée ({{dateFormat validationDate format="HH:mm:ss"}})
                                        {{else}}
                                            {{#ifEquals areActionsStillPossible true}}
                                                {{{action "PREREQUISITE_" id}}}
                                            {{else}}
                                                Action non effectuée
                                            {{/ifEquals}}
                                        {{/ifEquals}}
                                    {{/ifEquals}}
                                </td>
                            </tr>
                        {{/with}}
                    </table>
                </div>
            {{/if}}
        </div>
    {{/if}}
    {{#if data.indicators}}
        <input name="mainTabs" type="radio" id="tab-main-5" class="tab-input"/>
        <label for="tab-main-5" class="tab-label">Indicateurs</label>
        <div class="tab-panel">
            <h2>Indicateurs</h2>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Objet</th>
                        <th>Libellé</th>
                        <th>Indicateur</th>
                    </tr>
                    </thead>
                    {{#each data.indicators}}
                        {{#with this}}
                            <tr>
                                <td>{{i18n "card.periodicOperation.tab.scada.indicators.objectTypeEnum" objectTypeName}}</td>
                                <td>{{i18n "card.periodicOperation.tab.scada.indicators.indicatorTypeEnum" objectTypeName}}</td>
                                <td>{{preserveSpace objectLabel}}</td>
                            </tr>
                        {{/with}}
                    {{/each}}
                </table>
            </div>
        </div>
    {{/if}}
    {{#if data.failureModes}}
        <input name="mainTabs" type="radio" id="tab-main-6" class="tab-input"/>
        <label for="tab-main-6" class="tab-label">Modes dégradés</label>
        <div class="tab-panel">
            <h2>Empêchant l'opération</h2>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Poste</th>
                        <th>Cellules</th>
                        <th>OC</th>
                        <th>Ouvrages</th>
                        <th>Conséquence</th>
                        {{#ifEquals data.failureModes.withTelesignals true}}
                            <th>Télésignalisation</th>
                        {{/ifEquals}}
                    </tr>
                    </thead>
                    {{#each data.failureModes.values}}
                        {{#ifEquals this.hasPrerequisite false}}
                        {{#with this}}
                            <tr>
                                <td>
                                    {{#if substationSummary}}
                                        {{substationSummary}}
                                    {{else}}
                                        Aucune
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if baysSummary}}
                                        {{baysSummary}}
                                    {{else}}
                                        {{#if substationSummary}}
                                            Toutes
                                        {{else}}
                                            Aucune
                                        {{/if}}
                                    {{/if}}

                                </td>
                                <td>
                                    {{#if breakersSummary}}
                                        {{breakersSummary}}
                                    {{else}}
                                        {{#if substationSummary}}
                                            Tous
                                        {{else}}
                                            Aucun
                                        {{/if}}
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if assetsSummary}}
                                        {{assetsSummary}}
                                    {{else}}
                                        {{#if substationSummary}}
                                            Tous
                                        {{else}}
                                            Aucun
                                        {{/if}}
                                    {{/if}}
                                </td>
                                <td>{{#if consequenceSummary}}{{i18n "card.periodicOperation.tab.failureMode.consequenceEnum" consequenceSummary}}{{/if}}</td>
                                {{#ifEquals data.failureModes.withTelesignals true}}
                                    <td>{{#if telesignalsSummary}}{{telesignalsSummary}}{{/if}}</td>
                                {{/ifEquals}}
                            </tr>
                        {{/with}}
                        {{/ifEquals}}
                    {{/each}}
                </table>
            </div>
            <h2>Nécessitant d'appeler un poste</h2>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Poste</th>
                        <th>Cellules</th>
                        <th>OC</th>
                        <th>Ouvrages</th>
                        <th>Conséquence</th>
                        {{#ifEquals data.failureModes.withTelesignals true}}
                            <th>Télésignalisation</th>
                        {{/ifEquals}}
                    </tr>
                    </thead>
                    {{#each data.failureModes.values}}
                        {{#ifEquals this.hasPrerequisite true}}
                            {{#with this}}
                                <tr>
                                    <td>
                                        {{#if substationSummary}}
                                            {{substationSummary}}
                                        {{else}}
                                            Aucune
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if baysSummary}}
                                            {{baysSummary}}
                                        {{else}}
                                            {{#if substationSummary}}
                                                Toutes
                                            {{else}}
                                                Aucune
                                            {{/if}}
                                        {{/if}}

                                    </td>
                                    <td>
                                        {{#if breakersSummary}}
                                            {{breakersSummary}}
                                        {{else}}
                                            {{#if substationSummary}}
                                                Tous
                                            {{else}}
                                                Aucun
                                            {{/if}}
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{#if assetsSummary}}
                                            {{assetsSummary}}
                                        {{else}}
                                            {{#if substationSummary}}
                                                Tous
                                            {{else}}
                                                Aucun
                                            {{/if}}
                                        {{/if}}
                                    </td>
                                    <td>{{#if consequenceSummary}}{{i18n "card.periodicOperation.tab.failureMode.consequenceEnum" consequenceSummary}}{{/if}}</td>
                                    {{#ifEquals data.failureModes.withTelesignals true}}
                                        <td>{{#if telesignalsSummary}}{{telesignalsSummary}}{{/if}}</td>
                                    {{/ifEquals}}
                                </tr>
                            {{/with}}
                        {{/ifEquals}}
                    {{/each}}
                </table>
            </div>
        </div>
    {{/if}}
    {{#if data.prerequisites}}
        <input name="mainTabs" type="radio" id="tab-main-7" class="tab-input"/>
        <label for="tab-main-7" class="tab-label">Prérequis</label>
        <div class="tab-panel">
            <h2>Prérequis</h2>
            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Action attendue</th>
                        <th>Onglet concerné</th>
                        <th>État</th>
                    </tr>
                    </thead>
                    {{#each data.prerequisites}}
                        {{#with this}}
                        <tr>
                            <td>{{i18n requestedActionMessage}}</td>
                            <td>
                                {{#ifEquals type "INTERRUPTIONS"}}
                                    Coupures détectées
                                {{/ifEquals}}
                                {{#ifEquals type "CONTACT_TO_NOTIFY"}}
                                    Contacts
                                {{/ifEquals}}
                                {{#ifEquals type "SCADA_CONFIRMATION"}}
                                    Télésignalisations
                                {{/ifEquals}}
                                {{#ifEquals type "SCADA_FORCEABLE"}}
                                    Télésignalisations
                                {{/ifEquals}}
                                {{#ifEquals type "SCADA_FAILURE"}}
                                    -
                                {{/ifEquals}}
                            </td>
                            <td>
                                {{#ifEquals active false}}
                                    Plus d'actualité
                                {{else}}
                                    {{#ifEquals state "VALID"}}
                                        Action effectuée ({{dateFormat validationDate format="HH:mm:ss"}})
                                    {{else}}
                                        {{#ifEquals areActionsStillPossible true}}
                                            {{{action "PREREQUISITE_" id}}}
                                        {{else}}
                                            Action non effectuée
                                        {{/ifEquals}}
                                    {{/ifEquals}}
                                {{/ifEquals}}
                            </td>
                        </tr>
                        {{/with}}
                    {{/each}}
                </table>
            </div>
        </div>
    {{/if}}
</div>
