<!-- Copyright (c) 2020, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->

<p>
    
    <strong> Description de l'incident :</strong> {{keepSpacesAndEndOfLine card.data.message}}


    <br />
    <br />

    <strong> Services impactés vu SI : </strong>   <span id="impacts"></span>  {{card.data.impacts.OTHERS}}


    <br />



<div >


    <strong> <center> Merci de saisir les impacts que vous identifiez de votre coté </center>  </strong>

    <br/>
    <br />
    <table width="100%">
        <tr>
            <td> <label class="opfab-checkbox"> SERVICE A <input type="checkbox" id="SA">   <span class="opfab-checkbox-checkmark"> </span>   </label>   </td>
            <td> <label class="opfab-checkbox"> SERVICE B <input type="checkbox" id="SB">   <span class="opfab-checkbox-checkmark"> </span>   </label>   </td>
            <td> <label class="opfab-checkbox"> SERVICE C <input type="checkbox" id="SC">   <span class="opfab-checkbox-checkmark"> </span>   </label>   </td>
            <td> <label class="opfab-checkbox"> SERVICE D <input type="checkbox" id="SD">   <span class="opfab-checkbox-checkmark"> </span>   </label>   </td>
            <td> <label class="opfab-checkbox"> SERVICE E <input type="checkbox" id="SE">   <span class="opfab-checkbox-checkmark"> </span>   </label>   </td>
            <td> <label class="opfab-checkbox"> SERVICE F <input type="checkbox" id="SF">   <span class="opfab-checkbox-checkmark"> </span>   </label>   </td>
        </tr>
    </table>
</div>
<br/>
<br/>
<div class="opfab-input">
    <label> AUTRES IMPACTS </label>
    <input id="OTHERS" name="OTHERS">
</div>

<br/>
<br/>
<div id="childs-div"></div>


<script>

    var impact = "";
    var SA = {{ card.data.impacts.SA }};
    if (SA) impact += " Service A ";

    var SB = {{ card.data.impacts.SB }};
    if (SB) impact += " Service B ";

    var SC = {{ card.data.impacts.SC }};
    if (SC) impact += " Service C ";

    var SD = {{ card.data.impacts.SD }};
    if (SD) impact += " Service D ";

    var SE = {{ card.data.impacts.SE }};
    if (SE) impact += " Service E ";

    var SF = {{ card.data.impacts.SF }};
    if (SF) impact += " Service F ";

    document.getElementById("impacts").innerHTML = impact;

    templateGateway.applyChildCards = () => {

        if (templateGateway.childCards[0]) {
            let childsDiv = document.getElementById("childs-div");
            let responses = ' <strong> REPONSES RECUES : </strong> <center> <br/>'
            responses += ' <table width="100%""> <tr> <th> Entity </th>';
            responses += ' <th> Service A </th> <th> Service B </th> <th> Service C </th> <th> Service D </th> <th>Service E </th> <th> Service F </th>';
            responses += ' </tr>';

            templateGateway.childCards.forEach((c, i) => {
                const entityName = templateGateway.getEntityName(c.publisher);
                responses += `<tr> <td> ${entityName} </td>`
                if (c.data.impacts.SA)  responses += `<td style="color:red;">  OUI </td>`;
                else  responses += `<td>  NON </td>`;
                if (c.data.impacts.SB)  responses += `<td style="color:red;">  OUI </td>`;
                else  responses += `<td>  NON </td>`;
                if (c.data.impacts.SC)  responses += `<td style="color:red;">  OUI </td>`;
                else  responses += `<td>  NON </td>`;
                if (c.data.impacts.SD)  responses += `<td style="color:red;">  OUI </td>`;
                else  responses += `<td>  NON </td>`;
                if (c.data.impacts.SE)  responses += `<td style="color:red;">  OUI </td>`;
                else  responses += `<td>  NON </td>`;
                if (c.data.impacts.SF)  responses += `<td style="color:red;">  OUI </td>`;
                else  responses += `<td>  NON </td>`;
                responses += `<td> ${c.data.impacts.OTHERS}</td>`;
                responses += "</tr>";
            });

            responses += '</table> </center>';

            childsDiv.innerHTML = responses;
        }
    }

    templateGateway.validyForm = function () {

        const S1 = document.getElementById('SA').checked;
        const SB = document.getElementById('SB').checked;
        const SC = document.getElementById('SC').checked;
        const SD = document.getElementById('SD').checked;
        const SE = document.getElementById('SE').checked;
        const SF = document.getElementById('SF').checked;
        const OTHERS = document.getElementById('OTHERS').value;

        const formData = {
            impacts:
            {
                SA: SA,
                SB: SB,
                SC: SC,
                SD: SD,
                SE: SE,
                SF: SF,
                OTHERS: OTHERS
            }
        }

        return {
            valid: true,
            formData: formData
        };
    }
</script>


</p>