
<!-- Copyright (c) 2020, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->


<h2> You have the following task to do  :  </h2>
<br/>
<br/>
<center>
<h3 >

{{keepSpacesAndEndOfLine card.data.taskDescription }}


<br/>
Duration: {{card.data.durationInMinutes}} minutes
<br/> 

At {{card.data.hours}}:{{card.data.minutes}} on 
<span id="dayOfWeeks">


</span>

</h3>
</center>

<script>
daysOfWeek = "{{card.data.daysOfWeek}}";

var text ="";
if (daysOfWeek.includes("1"))  text += " monday";
if (daysOfWeek.includes("2"))  text += " tuesday";
if (daysOfWeek.includes("3"))  text += " wednesday";
if (daysOfWeek.includes("4"))  text += " thursday ";
if (daysOfWeek.includes("5"))  text += " friday";
if (daysOfWeek.includes("6"))  text += " saturday";
if (daysOfWeek.includes("7"))  text += " sunday";

document.getElementById("dayOfWeeks").innerHTML = text;

</script>